.flex-grow-one > .flex-item {
    flex-grow: 1;

}

.flex-grow-2nd-only > div:nth-child(2) {
    flex-grow: 1;
}

.flex-grow-proportional > div:first-child {
    flex-grow: 1;
}
.flex-grow-proportional > div:nth-child(2) {
    flex-grow: 2;
}
.flex-grow-proportional > div:last-child {
    flex-grow: 3;
}