* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding-left: 0.5em;
}



h1 {
    margin-bottom: 1em ;
    margin-top: 1em;
}

h2 {
   margin: 1em 0 1em 0;
}

div.flex-container {
    border: 2px solid blue;
    width: 400px;
    padding: 20px;
    display: flex;
    justify-content: flex-start;
}

.flex-item {
    background: #eee;
    border: 1px solid black;
    padding: 1.3em;
}
div.flex-container-center {
    border: 2px solid blue;
    width: 400px;
    padding: 20px;
    display: flex;
    justify-content: center;
}
div.flex-container-flex-end {
    border: 2px solid blue;
    width: 400px;
    padding: 20px;
    display: flex;
    justify-content: flex-end;
}
div.flex-container-space-between {
    border: 2px solid blue;
    width: 400px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}
div.flex-container-space-around {
    border: 2px solid blue;
    width: 400px;
    padding: 20px;
    display: flex;
    justify-content: space-around;
}
div.flex-container-space-evenly {
    border: 2px solid blue;
    width: 400px;
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
}
