.container {
  border: 2px solid blue;
  padding: 2em;
}

.container > * {
  border: 2px solid black;
  margin-bottom: 1.5em;
  text-align: center;
  padding: 2em;
}

body {
  border: 3px solid green;
  padding: 2em;
}

.container > :last-child {
  margin-bottom: 0;
}
