.flex-container {
    width: 300px;
    padding: 1em;
    border: 2px solid blue;
    display: flex;
    align-items: flex-start;
}

.flex-item {
    background: #eee;
    padding: 20px;
    border: 2px solid black;
    flex-basis: 300px;
}