body {
    border: 5px solid green;
}

div.wrapper {
    border: 2px solid black;
    margin: 2em;
    padding-left: 2em;
    padding-right: 2em;
}
header, article, footer {
    border: 2px solid blue;
    margin: 2em;
    padding: 1.5em;
}